---
import Hero from '../components/Hero';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import VehicleFleet from '../components/VehicleFleet';
import KeyFeatures from '../components/KeyFeatures';
import ServiceHighlights from '../components/ServiceHighlights';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Hero client:load />
	<div class="min-h-screen w-full my-12">
		<VehicleFleet client:load />
	</div>

	<div class="h-screen w-full flex items-center justify-center my-12">
		<ServiceHighlights client:load />
	</div>
	
	<div class="min-h-screen w-full flex items-center justify-center my-12">
		<KeyFeatures client:load />
	</div>

	
</Layout>
