---
import Hero from "../components/Hero";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import VehicleFleet from "../components/VehicleFleet";
import KeyFeatures from "../components/KeyFeatures";
import ServiceHighlights from "../components/ServiceHighlights";
import DownloadCTA from "../components/DownloadCTA";
import FAQ from "../components/FAQ";
---

<Layout>
  <Hero client:load />

  <section class="py-4 sm:py-16 lg:py-12">
    <VehicleFleet client:load />
  </section>

  <section class="py-4 sm:py-16 lg:py-12">
    <ServiceHighlights client:load />
  </section>

  <section class="py-4 sm:py-16 lg:py-0">
    <KeyFeatures client:load />
  </section>

  <section class="py-4 sm:py-16 lg:py-12">
    <FAQ client:load />
  </section>

  <section class="py-4 sm:py-16 lg:py-12 px-4 sm:px-6">
    <DownloadCTA client:load />
  </section>
</Layout>
